@charset "UTF-8";

.ibue-global-theme-classic {
    background-color: lighten($ibue-color-dark, 6%);

    .ibue-layout-navbar {
        background-color: lighten($ibue-color-dark, 6%);
    }

    .ibue-navbar-brand,
    .ibue-layout-sidebar {
        background-color: lighten($ibue-color-dark, 2%);
        box-shadow: none;
    }

    .ibue-layout-tabs {
        background-color: lighten($ibue-color-dark, 13%);
        box-shadow: none;
    }

    .ibue-layout-drawer {
        background-color: lighten($ibue-color-dark, 2%);
        box-shadow: none;
    }

    .ibue-layout-tabs {

        .el-tabs--card > .el-tabs__header .el-tabs__item {
            color: rgba(#ffffff, 0.5);
        }
    }

    .ibue-card {
        background-color: transparent;

        &.is-bordered {
            border-color: lighten($ibue-color-dark, 14%);
        }
    }

    .el-table th,
    .el-table tr,
    .el-table,
    .el-table__expanded-cell {
        background-color: transparent !important;
    }

    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table th.is-leaf, .el-table td {
        border-bottom: 1px solid lighten($ibue-color-dark, 14%);
    }

    .el-table__fixed::before, .el-table__fixed-right::before {
        background-color: transparent;
    }

    .el-table::before, .el-table--group::after, .el-table--border::after {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table tbody tr:hover>td {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table {
        color: rgba(#ffffff, .86);

        thead {
            color: rgba(#ffffff, 1);
        }
    }

    .el-form-item__label {
        color: rgba(#ffffff, .86);
    }

    .el-input__inner {
        color: rgba(#ffffff, .86);
        border-color: transparent;
        background-color: lighten($ibue-color-dark, 2%);
    }
}
