@mixin createTheme($themes) {
    @for $i from 1 through length($themes) {
        $item: nth($themes, $i);
    
        .ibue-bg-#{map-get($item, name)} {
            background-color: map-get($item, value) !important;
        }
    
        .ibue-text-#{map-get($item, name)} {
            color: map-get($item, value) !important;
        }
    }
}

@include createTheme($themes);