@charset "UTF-8";

.ibue-global-theme-dark {
    background-color: darken($ibue-color-dark, 6%);

    .ibue-layout-navbar,
    .ibue-layout-drawer,
    .ibue-layout-tabs,
    .ibue-layout-sidebar {
        background-color: $ibue-color-dark;
    }

    .ibue-navbar-header {

    }

    .ibue-layout-tabs {
        background-color: darken($ibue-color-dark, 3%);

        .el-tabs--card > .el-tabs__header .el-tabs__item {
            color: rgba(#ffffff, 0.5);
        }
    }

    .ibue-navbar-brand {

    }

    /** 重写element-ui样式 */
    .ibue-card {
        background-color: $ibue-color-dark;

        &.is-bordered {
            border: 0;
        }
    }

    .el-table th,
    .el-table tr,
    .el-table,
    .el-table__expanded-cell {
        background-color: transparent !important;
    }

    .el-table--striped .el-table__body tr.el-table__row--striped td {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table th.is-leaf, .el-table td {
        border-bottom: 1px solid lighten($ibue-color-dark, 14%);
    }

    .el-table__fixed::before, .el-table__fixed-right::before {
        background-color: transparent;
    }

    .el-table::before, .el-table--group::after, .el-table--border::after {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table tbody tr:hover>td {
        background-color: lighten($ibue-color-dark, 14%);
    }

    .el-table {
        color: rgba(#ffffff, .86);

        thead {
            color: rgba(#ffffff, 1);
        }
    }

    .el-form-item__label {
        color: rgba(#ffffff, .86);
    }

    .el-input__inner {
        color: rgba(#ffffff, .86);
        border-color: rgba(#ffffff, .1);
        background-color: rgba(#ffffff, .06);
    }
}
