@charset "UTF-8";

@import "variables.scss";

/** 主题 */
$--color-primary:          $ibue-color-primary;
$--color-success:          $ibue-color-success;
$--color-warning:          $ibue-color-warning;
$--color-danger:           $ibue-color-danger;
$--color-info:             $ibue-color-info;

/** 字体图标 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
