@charset "UTF-8";

@import "variables";
@import "reset";
@import "layout";
@import "iconfont";
@import "tools";
@import "custom/index";
@import "light/index";
@import "dark/index";
@import "classic/index";
@import "sidebar";

.searchForm {
    margin-top: 6px;
    margin-bottom: 32px;
}

.overflow-label .el-form-item__label {
    line-height: 20px;
}
