@charset "UTF-8";

.el-menu--collapse {
    width: 80px !important;
}

.el-menu {
    background-color: transparent !important;
}

.el-menu-item {
    border-left: 3px solid transparent;
}

.el-menu-item.is-active {
    color: rgba(#ffffff, 1) !important;
    border-left: 3px solid $ibue-color-primary;
    background-color: rgba($ibue-color-primary, .16) !important;
}

#app1 {

    .ibue-layout-sidebar {

        .el-menu {
            background-color: transparent;
        }

        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }

        .is-horizontal {
            display: none;
        }

        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;
        }

        .svg-icon {
            font-size: 18px;
            margin-right: 10px;
        }

        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
        }

        // menu hover
        .submenu-title-noDropdown,
        .el-submenu__title {
            &:hover {
                background-color: rgba(#ffffff, .1) !important;
            }
        }

        .is-active {

            > .el-submenu__title {

            }
        }

        .is-active {
            background-color: rgba(#ffffff, .06) !important;
        }

        & .nest-menu .el-submenu>.el-submenu__title,
        & .el-submenu .el-menu-item {
            min-width: 240px !important;

            &:hover {
                border-left: 3px solid rgba(#ffffff, 1);
                background-color: rgba(#ffffff, .1) !important;
            }
        }
    }

    .hideSidebar {
        .sidebar-container {
            width: 64px !important;
        }

        .main-container {
            margin-left: 64px;
        }

        .svg-icon {
            margin-right: 0;
        }

        .submenu-title-noDropdown {
            padding: 0 !important;
            position: relative;

            .svg-icon {
                margin-left: 20px;
            }

            span {
                display: none;
            }

            .el-tooltip {
                padding: 0 !important;

                .svg-icon {
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }

        .el-submenu {
            overflow: hidden;

            &>.el-submenu__title {
                padding: 0 !important;

                .svg-icon {
                    font-size: 20px;
                    margin-left: 20px;
                }

                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }

        .el-menu--collapse {
            .el-submenu {
                &>.el-submenu__title {
                    &>span {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        visibility: hidden;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .el-menu--collapse .el-menu .el-submenu {
        min-width: 240px !important;
    }
}

@for $i from 1 through length($themes) {
    $item: nth($themes, $i);

    .ibue-layout-sidebar.ibue-bg-white,
    .ibue-layout-sidebar.ibue-bg-dark,
    .ibue-layout-sidebar.ibue-bg-classic {

        &.sidebar-active-#{map-get($item, name)} {

            .el-menu-item.is-active {
                color: map-get($item, value) !important;
                border-left: 3px solid map-get($item, value);
                background-color: rgba(map-get($item, value), .2) !important;
            }
        }
    }
}

.ibue-layout-sidebar.ibue-bg-white,
.ibue-layout-sidebar.ibue-bg-dark {

    &.sidebar-active-white,
    &.sidebar-active-dark,
    &.sidebar-active-classic {

        .el-menu-item.is-active {
            color: $ibue-color-primary !important;
            border-left: 3px solid $ibue-color-primary;
            background-color: rgba($ibue-color-primary, .2) !important;
        }
    }
}

.ibue-layout-sidebar {

    .ibue-menu-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    .el-menu-item,
    .el-submenu__title {
        font-size: 16px;
    }

    &[class*="ibue-bg-"] {

        .el-menu-item.is-active {
            color: #ffffff !important;
            border-left: 3px solid #ffffff;
            background-color: rgba(#ffffff, .2) !important;
        }

        //
        .el-menu-item,
        .el-submenu__title,
        .el-submenu__title i,
        .ibue-menu-icon {
            color: rgba(#ffffff, .86);
        }
    }

    &.ibue-bg-white {

        .el-menu-item,
        .el-submenu__title,
        .el-submenu__title i,
        .ibue-menu-icon {
            color: $ibue-color-dark;
        }
    }

    .el-menu--collapse {

        .ibue-menu-icon {
            margin-right: 0;
        }

        .el-tooltip,
        .el-submenu__title {
            text-align: center;
        }

        .el-submenu__icon-arrow {
            display: none;
        }
        //
        .el-submenu {

            &>.el-submenu__title {

                &>span {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: inline-block;
                }
            }
        }
    }
}

// when menu collapsed
.el-menu--vertical {

    &>.el-menu {
        .svg-icon {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
        font-size: 16px;

        &:hover {
            // you can use $subMenuHover
            color: #FFFFFF;
            background-color: $ibue-color-primary !important;
        }
    }

    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
        max-height: 100vh;
        overflow-y: auto;

        &::-webkit-scrollbar-track-piece {
            background: #d3dce6;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #99a9bf;
            border-radius: 20px;
        }
    }
}
