@charset "UTF-8";

.el-menu--collapse {
    width: 80px !important;
}

.el-menu {
    background-color: inherit;
}

.el-submenu__title i {
    color: inherit;
}

.el-menu-item * {
    //vertical-align: top;
}

.ibue-layout-sidebar .el-menu-item .ibue-menu-icon {
    font-size: 16px;
}

.el-menu-item {
    border-left: 3px solid transparent;
    transition: all .3s;
}

.el-menu-item.is-active {
    border-left-color: #ffffff;
}

.el-submenu__title:focus, .el-submenu__title:hover,
.el-menu-item:hover,
.el-menu-item.is-active {
    outline: 0 !important;
    background-color: rgba(#ffffff, .16);
}

@for $i from 1 through length($themes) {
    $item: nth($themes, $i);

    .ibue-navbar-theme-#{map-get($item, name)} {

        .ibue-layout-sidebar.ibue-bg-white,
        .ibue-layout-sidebar.ibue-bg-dark,
        .ibue-layout-sidebar.ibue-bg-classic {
            @if (map-get($item, name) == dark or map-get($item, name) == classic or map-get($item, name) == white) {
                .el-submenu__title:focus, .el-submenu__title:hover,
                .el-menu-item:hover,
                .el-menu-item.is-active {
                    background-color: rgba($ibue-color-primary, .16) !important;
                }
                .el-menu-item.is-active {
                    border-left-color: $ibue-color-primary
                }
            } @else {
                .el-submenu__title:focus, .el-submenu__title:hover,
                .el-menu-item:hover,
                .el-menu-item.is-active {
                    background-color: rgba(map-get($item, value), .16) !important;
                }
                .el-menu-item.is-active {
                    border-left-color: map-get($item, value)
                }
            }
        }
    }
}

.ibue-layout-sidebar {

    .ibue-menu-icon {
        font-size: 20px;
        margin-right: 10px;
        transition: all .3s;
    }

    .el-menu-item,
    .el-submenu__title {
        font-size: 16px;
    }

    .el-menu--collapse {

        .ibue-menu-icon {
            margin-right: 0;
        }

        .el-tooltip,
        .el-submenu__title {
            text-align: center;
        }

        .el-submenu__icon-arrow {
            display: none;
        }

        .el-submenu {

            & > .el-submenu__title {

                & > span {
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    visibility: hidden;
                    display: inline-block;
                }
            }
        }
    }
}

// when menu collapsed
.el-menu--vertical {

    & > .el-menu {

        .svg-icon {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    //.nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
        font-size: 16px;

        &:hover {
            //color: #FFFFFF;
            //background-color: $ibue-color-primary !important;
        }
    }

    > .el-menu--popup {
        max-height: 100vh;
        overflow-y: auto;

        &::-webkit-scrollbar-track-piece {
            background: #d3dce6;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: #99a9bf;
            border-radius: 20px;
        }
    }
}
