@charset "UTF-8";

$ibue-color-primary:                     #0366d6;
$ibue-color-secondary:                   #6644da;
$ibue-color-success:                     #28a745;
$ibue-color-warning:                     #FF9800;
$ibue-color-danger:                      #f44336;
$ibue-color-info:                        #00ACC1;
$ibue-color-light:                       #f5f6f7;
$ibue-color-dark:                        #232f3f;

$ibue-base-size:                         8px;
$border-color:                           #d5dcec;

/** 顶部栏 */
$ibue-layout-header-height:              64px;
$ibue-layout-header-color:               $ibue-color-dark;

/** 标签栏 */
$ibue-layout-tags-height:                40px;

/** 侧边栏 */
$menuBg:                                transparent;
$menuText:                              #fff;
$menuActiveText:                        #fff;

$theme-classic:                         #252b3a;

$themes: (
        ( name: primary,     value: $ibue-color-primary ),
        ( name: secondary,   value: $ibue-color-secondary ),
        ( name: success,     value: $ibue-color-success ),
        ( name: warning,     value: $ibue-color-warning ),
        ( name: danger,      value: $ibue-color-danger ),
        ( name: info,        value: $ibue-color-info ),
        ( name: light,       value: $ibue-color-light ),
        ( name: dark,        value: $ibue-color-dark ),
        ( name: pink,        value: #e91e63 ),
        ( name: red,         value: #f44336 ),
        ( name: blue,        value: #0366d6 ),
        ( name: light-blue,  value: #00aeef ),
        ( name: purple,      value: #673ab7 ),
        ( name: indigo,      value: #3f51b5 ),
        ( name: cyan,        value: #00ACC1 ),
        ( name: amber,       value: #ffa000 ),
        ( name: orange,      value: #ff5722 ),
        ( name: green,       value: #28a745 ),
        ( name: teal,        value: #00897b ),
        ( name: brown,       value: #795548 ),
        ( name: blue-grey,   value: #607d8b ),
        ( name: black,       value: #141e2a ),
        ( name: white,       value: #ffffff ),
        ( name: transparent, value: transparent ),
        (name: classic,      value: lighten($ibue-color-dark, 2%) )
);
